body {
    background-image: linear-gradient(darkslategrey, rgb(49, 40, 40));
}

.lead {
    color:black;
  }
  
.jumbotron {
    position:relative;
    overflow:hidden;
    color: black;
}

.jumbotron .container {
    position:relative;
    z-index:2;
    background:rgba(202, 199, 199, 0.4);
    padding:2rem;
    border:1px solid rgba(0,0,0,0.1);
    border-radius:3px;
    box-shadow: 1px 1px rgba(78, 76, 76, 0.4);
}

.jumbotron-background {
    object-fit:cover;
    font-family: 'object-fit: cover;';
    position:absolute;
    top:0;
    z-index:1;
    width:100%;
    height:100%;
    opacity:0.5;
}

img.blur {
    -webkit-filter: blur(4px);
    filter: blur(4px);
    filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='4');
    width:100%;
}

@media (max-width: 768px) {
    img.blur {
        width: auto;
        height: 100%;
    }
}