<!DOCTYPE html>
<html lang='en-us'>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>The COVID-19 Affect</title>
        <!--Billboard CSS-->
        <link rel="stylesheet" href="static/css/billboard.min.css">
        <!--Bootstrap CSS-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="static/css/style.css">
        <!-- Leaflet CSS -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin=""/>
        <!--D3 Script-->
        <script src="https://d3js.org/d3.v4.min.js"></script>
        <!--Leaflet Script-->
        <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
        integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
        crossorigin=""></script>
        <!--Leaflet-heatmap plugin-->
        <script src="static/js/leaflet-heat.js"></script>
        <!--Plotly Script-->
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <!--PopDen data-->
        <script type="text/javascript" src="static/js/us-states_popDen.js"></script>
        <!--Billboard JS-->
        <script type="text/javascript" src="static/js/billboard.min.js"></script>
        <!--Config file for API calling-->
        <script type="text/javascript" src="static/js/config.js"></script>
    </head>

    <body>
        <div class="jumbotron jumbotron-fluid">
            <div class="jumbotron-background">
                <img src='https://github.com/coconutpep/US-COVID19-Effect/blob/master/docs/static/images/jumbo-background.png?raw=true' class="blur " id="large">
            </div>
            <div class="container">
              <h1 class="display-4">The COVID-19 Affect</h1>
              <hr>
              <p class="lead">This interactive dashboard allows you to investigate the affect of COVID-19 on various aspects of American society. Investigate how stocks, hospitals, and weather statistics changed during the Coronavirus Pandemic of 2020 in comparison with the spread of infection across the continental U.S.</p>
            </div>
        </div>
        <!--Inputs for map comparisons-->
        <div class="input-group mb-3">
            <div class="form-group col-2">
                <select class="form-control" id="date-type" aria-describedby="date-type-help">
                    <option>Date Range</option>
                    <option>Single Date</option>
                </select>
                <small id="date-type-help" class="form-text text-muted">Date Type</small>
            </div>
            <div class="form-group col-2" id="start-date-holder">
                <input type="date" class="form-control" id="start-date" aria-describedby="start-date-help">
                <small id="start-date-help" class="form-text text-muted">Start Date</small>
            </div>
            <div class="form-group col-2" id="end-date-holder">
                <input type="date" class="form-control" id="end-date" aria-describedby="end-date-help">
                <small id="end-date-help" class="form-text text-muted">End Date</small>
            </div>
            <input type="date" class="form-control col-2" id="date-input">
            <div class="form-group col-2">
                <select class="form-control" id="comparison" aria-describedby="comparison-selector-help">
                    <option>Weather Comparison</option>
                    <option>Stock Lookup</option>
                    <option>Population Density Comparison</option>
                </select>
                <small id="comparison-selector-help" class="form text text-muted">Select Comparison</small>
            </div>
            <div class="form-group col-2 stock">
                <select class="form-control" id="stock-selector" aria-describedby="stock-selector-help">
                    <option>Retail</option>
                    <option>Tech</option>
                    <option>Entertainment</option>
                    <option>eCommerce</option>
                    <option>Airlines</option>
                </select>
                <small id="stock-selector-help" class="form-text text-muted">Select Stock Industry</small>
            </div>
        </div>
        <!--Comparison info and limitations-->
        <div class="col-10 information">
            <div class="stock">
                <h1>Stock Comparison</h1>
                <hr>
                <p>Explore how the growing pandemic affected the stock prices of several large companies in different sectors. Sectors provided are Retail, Technology, Entertainment, eCommerce, and Airlines. The way disaster changes economy can be unexpected and lasting. Data shown is gathered for January 22, 2020 to May 25, 2020.</p>
            </div>
            <div class="weather">
                <h1>Air Quality Comparison</h1>
                <hr>
                <p>Explore how four major air quality parameters have changed over the course of the COVID-19 pandemic in America. We've pulled recent data from the Environmental Protection Agency's API which provides data on every air quality parameter there is. For the purposes of these visualizations we pulled the levels of Carbon Monoxide, Ozone, Nitrogen Dioxide, and Sulfur Dioxide levels in the air over America since January 22, 2020. Data for visualizing over a date range has been aggregated to show the mean pollutant levels in air over America. Due to the struggles of COVID and the nature of pulling this kind of data currently is incomplete past March, 31, 2020.</p>
            </div>
            <div class="popDen">
                <h1>Population Density Comparison</h1>
                <hr>
                <p>Explore how COVID-19 moved through the United States based on each state's population density. Since the most recent census, 2020, has not yet concluded the 2010 census data was used to gather population density information.</p>
            </div>
        </div>
        <!--Containers for dashboard charts-->
        <div class="col-5 comparator" id="infection-heatmap"></div>
        <div class="col-5 comparator line-pop" id="infection-line"></div>
        <div class="col-5 comparator stock stock-chart" id="Retailchart"></div>
        <div class="col-5 comparator stock stock-chart" id="Techchart"></div>
        <div class="col-5 comparator stock stock-chart" id="Enterchart"></div>
        <div class="col-5 comparator stock stock-chart" id="Comchart"></div>
        <div class="col-5 comparator stock stock-chart" id="Airlinechart"></div>
        <div class="col-5 comparator weather" id="weather-heatmap"></div>
        <div class="col-5 comparator weather line-pop" id="weather-line"></div>
        <div class="col-5 comparator popDen" id="popDen-choro"></div>
        <!--Links to data sources-->
        <div class="information" id="reference">
            <div class="stock">
                <h1>Visualizations Powered by Data from:</h1>
                <hr>
                <ul>
                    <li><span>COVID-19 Cases and Death Data:</span> <a href="https://www.kaggle.com/fireballbyedimyrnmom/us-counties-covid-19-dataset" target="_blank">Kaggle CSV</a> of New York Times Publshed Data</li>
                    <li><span>Stock Data: <a href="https://github.com/lukaszbanasiak/yahoo-finance" target="_blank">Yahoo-Finance</a></span> python library</li>
                </ul>
            </div>
            <div class="weather">
                <h1>Visualizations Powered by Data from:</h1>
                <hr>
                <ul>
                    <li><span>COVID-19 Cases and Death Data:</span> <a href="https://www.kaggle.com/fireballbyedimyrnmom/us-counties-covid-19-dataset" target="_blank">Kaggle CSV</a> of New York Times Publshed Data</li>
                    <li><span>Air Quality Data:</span> <a href="https://aqs.epa.gov/aqsweb/documents/data_api.html" target="_blank">AQS API</a> from EPA</li>
                </ul>
            </div>
            <div class="popDen">
                <h1>Visualizations Powered by Data from:</h1>
                <hr>
                <ul>
                    <li><span>COVID-19 Cases and Death Data:</span> <a href="https://www.kaggle.com/fireballbyedimyrnmom/us-counties-covid-19-dataset" target="_blank">Kaggle CSV</a> of New York Times Publshed Data</li>
                    <li><span>Population Density Data:</span> <a href="https://www.census.gov/data/datasets/2010/dec/summary-file-1.html" target="_blank">2010 Census</a> from the Census Bureau</li>
                    <li><span>GeoJSON Population Density Format:</span> <a href="https://leafletjs.com/examples/choropleth/us-states.js">Leaflet Tutorials</a></li>
                </ul>
            </div>
        </div>

        <!--JS for heatmap plot-->
        <script src="static/js/heatmap-plot.js"></script>
        <!--JS for infection line graph-->
        <script src="static/js/infect-line.js"></script>
        <!--JS for Air quality-->
        <script src="static/js/weathermap.js"></script>
        <!--JS for Air quality line graph-->
        <script src="static/js/air-line.js"></script>
        <!--JS for Population Density Choropleth-->
        <script src="static/js/popDen-plot.js"></script>
        <!--JS for changing Display-->
        <script src="static/js/chart-display.js"></script>
        <!--JS for Stock graphs-->
        <script src="static/js/stocks.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    </body>
</html>