<!DOCTYPE HTML>
<!--
	Theory by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>The COVID-19 Affect</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../static/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="index.html" class="logo">COVID-19 Affect</a>
					<nav id="nav">
						<a href="index2.html">Home</a>
						<a href="comparisons.html">Comparisons</a>
						<a href="about.html">Team Bio</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Banner -->
			<section id="banner">
				<h1>The COVID-19 Affect</h1>
				<p>An overview of how COVID-19 has impacted America.</p>
			</section>

		<!-- One -->
			<section id="one" class="wrapper">
				<div class="inner">
					<div class="flex flex-3">
						<article>
							<header>
								<h3>Air Quality</h3>
							</header>
							<p>See how the air quality has changed over the COVID-19 pandemic in America with less travel and production happening.</p>
							<footer>
								<a href="airquality.html" class="button special">More</a>
							</footer>
						</article>
						<article>
							<header>
								<h3>Stock Value</h3>
							</header>
							<p>See how the value of several stocks have been imapcted during the COVID-19 pandemic. Industries included in the visualizations include Tech, Airlines, Entertainment, E-commerce, and Retail.</p>
							<footer>
								<a href="stock.html" class="button special">More</a>
							</footer>
						</article>
						<article>
							<header>
								<h3>Population Density</h3>
							</header>
							<p>See how the population density across the states have impacted the spread of COVID-19 in America./p>
							<footer>
								<a href="popden.html" class="button special">More</a>
							</footer>
						</article>
					</div>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style1 special">
				<div class="inner">
					<header>
						<h2>The Team</h2>
						<p><a href='about.html' style="color:#9a9a9a;">See Full Bios</a></p>
					</header>
					<div class="flex flex-4">
						<div class="box person">
							<div class="image round">
								<img src="../static/images/ryan.jpg" alt="Person 1" />
							</div>
							<h3>Ryan Klueg</h3>
							<p>Data Analysis / Web Development</p>
						</div>
						<div class="box person">
							<div class="image round">
								<img src="../static/images/gouthamp.JPG" alt="Person 2" />
							</div>
							<h3>Goutham Polavaram</h3>
							<p>Database Analyst/Site Deployment</p>
						</div>
						<div class="box person">
							<div class="image round">
								<img src="../static/images/Mahamat.png" alt="Person 3" />
							</div>
							<h3>Ibrahim Oumar</h3>
							<p>Data Analysis</p>
						</div>
						<div class="box person">
							<div class="image round">
								<img src="../static/images/sumeet.png" alt="Person 4" />
							</div>
							<h3>Sumeet Dhawan</h3>
							<p>Data Analysis / Web Development</p>
						</div>
					</div>
				</div>
			</section>

		<!-- Three -->
			<section id="three" class="wrapper special">
				<div class="inner">
					<div class="flex flex-2">
						<article>
							<div class="image fit">
								<img src="../static/images/repository-main.png" alt="Pic 01" />
							</div>
							<header>
								<h3>Explore the Code</h3>
							</header>
							<p>Visit our Github repository to explore our code and see how our analysis came together. Repository is used for the deployment of this website so includes code for running the page, server, database calls, and data cleaning.</p>
							<footer>
								<a href="https://github.com/gpolavaram0/covid19project" class="button special">More</a>
							</footer>
						</article>
						<article>
							<div class="image fit">
								<img src="../static/images/scott-graham-5fNmWej4tAA-unsplash.jpg" alt="Pic 02" /> <!--Photo by Scott Graham on Unsplash https://unsplash.com/@sctgrhm?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText-->
							</div>
							<header>
								<h3>Team Bio</h3>
							</header>
							<p>This project took several people hundreds of hours of work to make. If you are curious about who was involved check out their profiles on the Team Bio page.</p>
							<footer>
								<a href="about.html" class="button special">More</a>
							</footer>
						</article>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="flex">
						<div class="copyright">
						</div>
						<ul class="icons">
						</ul>
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>